<%%- model_class = <%= resource_name.classify %> -%>
<div class="row-fluid">
  <div class="span10">
    <h1>Proyecto <span class="nombre"></span></h1>
  </div>
  <div class="span2 offset10"><a class="btn btn-warning" href="%>_path">
    <span class="icon-white icon-arrow-left"></span></a>
  </div>
</div>

<h4><span class=" icon-circle-arrow-right"></span></h4>
<div class="row rowBottom">
  <div class="span8">
    <%- columns.each do |column| -%>
      <div class="row">
        <div class="span3">
          <p class="projectLabel"><%%= model_class.human_attribute_name(:<%= column.name %>) %>:</p>
        </div>
        <div class="span5">
          <p class="projectDatos"><%%= @<%= resource_name %>.<%= column.name %> %></p>
        </div>
      </div>
    <%- end -%>
  </div>
</div>

<div class="boton"><a class="btn btn-danger" href="%>_path(@<%= resource_name %>)"><span class="icon-white icon-pencil"></span> Editar</a></div> 
